export( random.active,
        random.active.test,
        random.equal,
        random.equal.test,
        random.general,
        random.general.test,
        random.longonly,
        random.longonly.test,
        random.longshort,
        random.longshort.test,
        random.shortonly,
        random.shortonly.test,
        ractive,
        ractive.test,
        requal,
        requal.test,
        rgeneral,
        rgeneral.test,
        rlongonly,
        rlongonly.test,
        rlongshort,
        rlongshort.test,
        rshortonly,
        rshortonly.test )
