import( truncdist, stats )
export( collapse.segments,
        extract.segments,
        overweight.segments,
        portfolio.composite,
        portfolio.difference,
        portfolio.diversification,
        random.active,
        random.active.test,
        random.benchmark,
        random.benchmark.test,
        random.bounded,
        random.bounded.test,
        random.equal,
        random.equal.test,
        random.general,
        random.general.test,
        random.longonly,
        random.longonly.test,
        random.longshort,
        random.longshort.test,
        random.shortonly,
        random.shortonly.test,
        ractive,
        ractive.test,
        rbenchmark,
        rbenchmark.test,
        rbounded,
        rbounded.test,
        requal,
        requal.test,
        rgeneral,
        rgeneral.test,
        rlongonly,
        rlongonly.test,
        rlongshort,
        rlongshort.test,
        rshortonly,
        rshortonly.test,
        segment.complement,
        set.segments,
        underweight.segments )
